{% extends 'base.html.twig' %}

{% block title %}RIASEC{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 900px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    p,
    label {
        font: 1rem 'Fira Sans', sans-serif;
    }

    input {
        margin: .4rem;
    }

</style>

<div class="example-wrapper">
    <h1>RIASEC ✅</h1>

    <fieldset>
        <form action="/result" method="post">
        {% for item in datas %}
            <div>
                <input type="checkbox" id="{{ item.Id }}" name="riasec[]" value="{{ item.Code }}">
                <label for="scales">{{ item.Question }}</label>
            </div>
        {% endfor %}
            <div>
                <input type="submit" value="Envoyer">
            </div>
        </form>
    </fieldset>
</div>
{% endblock %}
